/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

/* universal styles */
.lobster-text {
  font-family: 'Lobster', cursive;
}

.orange-text {
  color: #F8512F;
}

.white-text {
color: #fff;
}

.red-text {
  color: red;
}

body {
  font-family: 'Raleway', sans-serif;
  position: relative;
}

/* navbar styles */
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #F65239;
  background-color: rgba(0, 0, 0, .25);
}
/* navbar styles end */
/* carousel styles start */
.item {
  height: 450px;
  background-size: cover;
  background-position: center;
}

.wood-bg {
  background-image: url('../img/wood-2.jpg');
}

.seating-bg {
  background-image:url('../img/restaurant-2.jpg')
}

.farm-bg {
  background-image: url('../img/farm-2.jpg');
}

.flex-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.flex-slide-padding {
  padding-top: 140px;
}

.hero-logo {
  width: 240px;
}

.btn-warning {
  background-color: #F8512F;
}

.btn-warning:hover {
  background-color: #d34326;
}
/* carousel styles end */

/* our story styles start */
#our-story {
  margin: 120px auto;
}

#our-story .lobster-text {
  font-size: 6em;
  text-shadow: 1px 1px 2px #000;
}

.year-text {
  font-family: 'Playfair Display', serif;
  font-size: 13em;
  position: absolute;
  color: rgba(0, 0, 0, 0.12);
}

#our-story p {
  font-weight: 200;
}
/* our story styles ends */

/* review styles start */
#review  {
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 200px 0px;
}

.review-box {
  background-color: rgba(0, 0, 0, .6);
  border-radius: 6px;
}

.review-box h1 {
  text-shadow: 1px 1px 2px #000;
  font-size: 5.5em;
}

.review-box p {
  font-size: 32px;
}
/* review styles end */

/* menu styles starts */
#menu {
  background-image: url('../img/black_linen.png');
}

#menu .tab-content {
  background-color: #fff;
  padding: 0 20px;
}

#menu .nav-tabs.nav-justified>.active>a,
#menu .nav-tabs.nav-justified>.active>a:focus,
#menu .nav-tabs.nav-justified>.active>a:hover {
  color: #F8512F;
}

#menu h3 {
  font-weight: bold;
}
/* menu styles end */

/* contact styles */
#contact {
  background: linear-gradient(#F8512F, #fff);
}

form {
  background-color: #FC673D;
  border: 1px solid #fff;
  padding: 20px;
}
/* contact styles */
